.container {
    position: relative;
    text-align: center;
    color: white;
    isolation: isolate;
    width: var(--logo-width);
    max-width: 100%;
    overflow: hidden;

}

.container:hover {
    filter: blur(2px);
    filter: contrast(200%);
    filter: hue-rotate(180deg);
    cursor: default;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: var(--logo-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.asciiWrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: screen;
}

.center {
    position: asbolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.asciiArt {
    font-family: monospace;
    font-size: var(--ascii-font-size, 3.2)px;
}


white-space: pre;
line-height: var(--ascii-line-height, 3.3px);
position: absolute;
top: 44.5%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-shadow: 0 0 5px rgba(163, 116, 255, 0.8),
0 0 10px rgba(163, 116, 255, 0.5);
animation: matrixFlicker 1.3s infinite step-end,
matrixGlow 10s infinite ease-in-out,
glitchSkew 2s infinite linear,
matrixFlicker 1.3s infinite step-end,
glitchSkew1 2s infinite linear,
matrixFlicker 1.3s infinite step-start,
glitchSkew2 2s infinite ease;
/* glitchSkew3 2s infinite linear; */

}

/* Add new glitch skew animation */
@keyframes glitchSkew {
    19% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    20% {
        transform: translate(-50%, -50%) skew(-60deg);
    }

    21% {
        transform: translate(-50%, -50%) skew(-1.5deg);
    }

    25% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    80% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    83% {
        transform: translate(-50%, -50%) skew(60deg);
    }

    84% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    100% {
        transform: translate(-50%, -50%) skew(0deg);
    }
}

@keyframes glitchSkew1 {
    19% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    20% {
        transform: translate(-50%, -50%) skew(60deg);
    }

    21% {
        transform: translate(-50%, -50%) skew(-172.5deg);
    }

    22% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    80% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    81% {
        transform: translate(-50%, -50%) skew(20deg);
    }

    82% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    100% {
        transform: translate(-50%, -50%) skew(0deg);
    }
}

@keyframes glitchSkew2 {
    0% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    1% {
        transform: translate(-50%, -50%) skew(-2deg);
    }

    2% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    74% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    75% {
        transform: translate(-50%, -50%) skew(-80deg);
    }

    77% {
        transform: translate(-50%, -50%) skew(0deg);
    }
}

@keyframes glitchSkew3 {
    0% {
        transform: translate(-50%, -50%) skew(0deg);
    }

    20% {
        transform: translate(-50%, -50%) skew(1.5deg);
    }

    40% {
        transform: translate(-50%, -50%) skew(-1.5deg);
    }

    60% {
        transform: translate(-50%, -50%) skew(1deg);
    }

    80% {
        transform: translate(-50%, -50%) skew(-1deg);
    }

    100% {
        transform: translate(-50%, -50%) skew(0deg);
    }
}

@keyframes matrixFlicker {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    96% {
        opacity: .3;
    }

    97% {
        opacity: 0.2;
    }

    98% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes matrixGlow {
    0% {
        text-shadow: 0 199 5px #ff6f00, 0 0 10px #1e8881;
    }

    50% {
        text-shadow: 0 0 20px #a55e2e, 0 0 10px #6cc7a8, 0 0 20px #1db529;
    }

    95% {
        opacity: 1;
    }

    96% {
        opacity: 0;
    }

    97% {
        opacity: 0.2;
    }

    98% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }

    100% {
        text-shadow: 0 0 50px #5500ff, 0 0 100px #e157de;
    }
}

@keyframes colorShift {
    0% {
        color: rgb(166, 26, 26);
    }

    33% {
        color: pink;
    }

    66% {
        color: rgb(0, 255, 55);
    }

    100% {
        color: white;
    }
}

/* @keyframes matrixGlow {
    0% {
        text-shadow: 0 199 5px #ff6f00, 0 0 10px #1e8881;
    }

    50% {
        text-shadow: 0 0 20px #a55e2e, 0 0 10px #6cc7a8, 0 0 20px #1db529;
    }

    95% {
        opacity: 1;
    }

    96% {
        opacity: 0;
    }

    97% {
        opacity: 0.2;
    }

    98% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }

    100% {
        text-shadow: 0 0 50px #5500ff, 0 0 100px #e157de;
    }
} */

@keyframes colorShift {
    0% {
        color: rgb(166, 26, 26);
    }

    33% {
        color: pink;
    }

    66% {
        color: rgb(0, 255, 55);
    }

    100% {
        color: white;
    }
}